<app-navbar></app-navbar>

<div class="jumbotron bg-light animate__animated animate__fadeIn">
    <div class="container py-4">
        <h3 class="display-5">Welcome to User Interface Java Springboot</h3>
        <p>This is a website for manage your profile settings</p>
        <p><a class="btn btn-primary btn-lg" routerLink="/auth/login" role="button">Let's go &raquo;</a></p>
    </div>
</div>

<div class="container pt-4 animate__animated animate__fadeIn">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h2>Angular</h2>
            <p>Knowledge of the Angular framework will be tested</p>
            <p>Used as frontend</p>
            <p><a class="btn btn-secondary" href="https://angular.io/" target="_blank" role="button">About Angular &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Java</h2>
            <p>Knowledge of the Java language will be tested</p>
            <p>Used for backend</p>
            <p>
                <a class="btn btn-secondary" href="https://docs.oracle.com/en/java/"
                        target="_blank" role="button">About Java &raquo;</a>
                    </p>
        </div>

        <div class="col-md-4">
            <h2>Springboot</h2>
            <p>Knowledge of the SpringBoot framework will be tested</p>
            <p>Used as backend</p>
            <p>
                <a class="btn btn-secondary"
                    href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/"
                    target="_blank"
                    role="button">About SpringBoot &raquo;</a></p>
        </div>
    </div>
</div>

<app-footer></app-footer>
